@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
  font-family: "Pixelify Sans", serif;
}

.todo-head{
    font-size: 4rem;
    color: rgb(227, 68, 238);
    margin-top: 2rem;
}
/* .todo-icon{
    width: 50px;
} */

.todo-input {
   width: 70% !important;
  }
  
  .add-button {
    margin: .7rem !important;
    font-size: 1.1rem !important;
    background-color: rgb(227, 68, 238) !important;
    font-family: "Pixelify Sans", serif !important;
  }
  
  .ok-logo {
    width: 60px;
    margin: 10px;
    cursor: pointer;
  }
  
.delete-logo {
  width: 60px;
  margin: 10px;
  cursor: pointer;
}
  
  /* .todoText {
    /* width: 75%; */
    /* display: flex;
    justify-content: center;
    align-items: center;
  } */

  /* .todo-list {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
  } */
  
  /* .clear-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
  } */
  
  /* .clear-button {
    padding: 10px;
    font-size: 1rem;
    background-color: red;
    color: white;
    border-radius: 5px;} */